aside {
	font-size: 0.9em;
	margin: 2em 2em 2em 1em;
	padding: 0 .75em 0 1.25em;
    outline: 0;
    vertical-align: baseline;
    border-radius: 12px;
    background-color: #DFDDDD;
    box-shadow: 0px 0px 30px 0px #DFDDDD;
	}