/*@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');*/

@font-face {
   font-family: 'Fira Code';
   src: url('FiraCode/FiraCode-Retina.ttf');
}

@font-face {
   font-family: 'Fira Code';
   font-weight: lighter;
   src: url('FiraCode/FiraCode-Light.ttf');
}

@font-face {
   font-family: 'Fira Code';
   font-weight: bold;
   src: url('FiraCode/FiraCode-Bold.ttf');
}

@font-face {
   font-family: 'Fira Code';
   font-weight: bolder;
   src: url('FiraCode/FiraCode-Medium.ttf');
}

@font-face {
   font-family: 'IBMPlexSans-Bold';
   src: url('IBMPlexSans/IBMPlexSans-Bold.ttf');
}

@font-face {
   font-family: 'IBM Plex Sans';
   src: url('IBMPlexSans/IBMPlexSans-Regular.ttf');
}
@font-face {
   font-family: 'IBM Plex Sans';
   font-weight: lighter;
   src: url('IBMPlexSans/IBMPlexSans-Light.ttf');
}
@font-face {
   font-family: 'IBM Plex Sans';
   font-weight: bold;
   src: url('IBMPlexSans/IBMPlexSans-Bold.ttf');
}

@charset "utf-8";

/*
	Based on: Daring Fireball CSS, Copyright (c) 2018 John Gruber. Layout No. 2 / v1.9
*/

html {
	/* cf. http://www.hicksdesign.co.uk/journal/forcing-scrollbars-now-even-better */
	height: 100%;
	margin-bottom: 1px;
	}

object{
	width: 100%;
/*	height: 13em;
*/}
blockquote {
	font-size: 1em;
	margin: 2em 2em 2em 1em;
	padding: 0 .75em 0 1.25em;
	border-left: 1px solid #E77817;
	border-right: 0px solid #777;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    /*background-color: #484B56;*/
	}
	
aside {
	font-size: 0.9em;
	margin: 2em 2em 2em 1em;
	padding: 0 .75em 0 1.25em;
    outline: 0;
    vertical-align: baseline;
    border-radius: 12px;
    background-color: #003768;
    box-shadow: 0px 0px 30px 0px #003768;
	}

.Record {
	font-family: "IBM Plex Sans", "IBM Plex Serif", "Gill Sans MT", "Gill Sans", "Gill Sans Std", Tahoma, Verdana, sans-serif;
	font-size: 4em; /* was 1.46em for Georgia */
	line-height: 1.5em;
	text-align: left;
	font-weight: bold;
	margin: 0em 0px 0em 0px;
	color: black;
	max-width: 1025px !important;
	}

code{
margin: 0 2px;
  padding: 0 5px;
  white-space: nowrap;
  /*border: 1px solid #eaeaea;*/
  background-color: #484B56;
  border-radius: 3px; }
/* 
blockquote strong {
	font-weight: bold;
	font-size: 1em;
	letter-spacing: normal;
	text-transform: none;
	}
 */

body {
	/*
	body{
		margin:40px auto;
		max-width:650px;
		line-height:1.6;
		font-size:18px;
		color:#444;
		padding:0 10px
		}
	h1,h2,h3{
		line-height:1.2
		}
	*/
	-webkit-text-size-adjust: none;
	/*margin: 40px auto;*/
	margin-top: 0;
	padding: 0;
	font-family: Geneva, Verdana, "Bitstream Vera Sans", sans-serif;
	line-height: 1.8em;
	text-align: left;
	max-width: 760px;
	background-color: #221F20;
	color: #EEEEEE;
	}

a {
	text-decoration: none;
	}

a:link {
	text-decoration: none;
	color: #40AFD0;
	border-color: #0082C9;
	border-width: 0 0 1px 0;
	border-style: none none solid none;
	padding: 3px 0px 2px 0px;
	background-color: inherit;
	}

a:visited {
	color: #40AFD0; /*#A21A68;*/
	border-color: #A21A68;
	border-width: 0 0 1px 0;
	border-style: none none dotted none;
	padding: 3px 0px 2px 0px;
	background-color: inherit;
	}

a:hover {
	color: white;
	text-decoration: none;
	background-color: #0082C9;
	border-color: #0082C9;
	}

a:visited:hover {
	color: white;
	background-color: #A21A68;
	border-color: #A21A68;
}

a em {
	padding-bottom: 2px; /* Hack for WebKit; otherwise the underscore padding is 0 */
	}


sup {
	line-height: 0px;
	}
sup a:link {
	padding: 3px;
	}
sup a:visited {
	padding: 3px;
	}


p {
 	margin: 0 0 1.6em 0;
	padding: 0;
	max-width: 750px;
	}

.footer{
	width: 100%;
	font-size: 0.8em;
	}
tr {
	text-transform: uppercase;
	font-family: "IBM Plex Sans", "IBM Plex Serif", "Gill Sans MT", "Gill Sans", "Gill Sans Std", Georgia, serif;
	font-weight: lighter;
	font-size: 0.75em;
	}
.ri{
	text-align: right;}

table td + td { border-left:1px solid #0082C9; empty-cells: hide;}
td {
	padding: 0.5em;
	/*empty-cells: hide;*/
	}
table th + th { border-left:1px solid #0082C9; }
th {
	border-bottom:1px solid #0082C9
	}

h1 {
	font-family: "IBM Plex Sans", "IBM Plex Serif", "Gill Sans MT", "Gill Sans", "Gill Sans Std", Tahoma, Verdana, sans-serif;
	font-size: 2em; /* was 1.46em for Georgia */
	line-height: 1.5em;
	text-align: left;
	font-weight: bold;
/*	margin: 0em 0px 1.25em 0px;*/
		margin: 0em 0px 0.25em 0px;
	background-color: #0082C9;
	border-left: 0.3em solid; border-color: #005AAB;

	color: white;
	}

h2 {
	font-family: "IBM Plex Sans", "Gill Sans MT", "Gill Sans", "Gill Sans Std", Tahoma, Verdana, "Bitstream Vera Sans", sans-serif;
	font-size: 1.05em; /* 1 */
	text-align: left;
	font-weight: normal;
	line-height: 1.8em;
	letter-spacing: .2em;
	margin: 4em 0 1em 0;
	text-transform: uppercase;
	border-top: 0.3em solid;
	border-color: #F8C300;
	}

h2.streetcar {
	border-top: 0.3em solid;
	border-color: #D8232A;
	}

h1 + h2 {
	margin-top: 2em;
	}
h2 + h3 {
	margin-top: 1.5em;
	}

h1 a:link {
		color: #F0E68C;
	}
h1 a:visited {
		color: #552200;
	}

h1 a:hover {
	color: white;
	text-decoration: none;
	background-color: #0082C9;
	border-color: #0082C9;
	}

h1 a:visited:hover {
	color: white;
	background-color: #A21A68;
	border-color: #A21A68;
}

h3 {
	font-family: "IBM Plex Sans", "Gill Sans MT", "Gill Sans", "Gill Sans Std", Verdana, "Bitstream Vera Sans", sans-serif;
	font-size: .91em;
	text-align: left;
	font-weight: normal;
	line-height: 1.8em;
	letter-spacing: .2em;
	margin-bottom: 1.4em;
	margin-top: 3em;
	text-transform: uppercase;
	}


p + h3 {
	margin-top: 4em;
	}
pre + h3 {
	margin-top: 4em;
	}

h6 + h2 {
	margin-top: 2em;
	}


h4, h5, h6 {
	font-family: "IBM Plex Sans", Verdana, "Bitstream Vera Sans", sans-serif;
	font-size: 1em;
	text-align: left;
	font-weight: bold;
	line-height: 1.8em;
	margin: 2em 0 0 0;
	}

strong {
	font-weight: normal;
	font-size: .91em;
	letter-spacing: .2em;
	text-transform: uppercase;
	}

em em {
	font-style: normal;
	}

strong strong {
	font-weight: bold;
	}

cite {
	font-weight: normal;
	font-style: italic;
	}

img {
	margin-top: 5px;
	max-width: 100%;
	}


thead {
	font-weight: bold;
	}


ul, ol {
	padding-left: 1.25em;
	margin: 0 0 0em 1em;
	}


pre {
	font-family: "JetBrains Mono", "Fira Code", Monaco, Courier, monospace;
	line-height: 1.45em;
	color: #eee;
	background-color: inherit;
	margin: 2em 0 2.5em 0;
	padding: 5px 0 5px 10px;
	border-width: 1px 0 1px 0;
	border-color: #6b6b6b;
	border-style: dashed;
	}

code {
	font-family: "JetBrains Mono", "Fira Code", Monaco, Courier, monospace;
	font-size: 1em; /* 1.09em for Courier */
	}


ul {
	list-style-type: square;
	}

ul ul {
	list-style-type: square;
	}
ul ul ul {
	list-style-type: square;
	}

/*hr {
	margin: 2em 1em 4em 0;
	text-align: center;
	border-color: #777;
	border-width: 0;
	border-style: dotted;
	}*/
hr {
    border-color: white;
	    border-width: 0;
	    text-align: center;
	    border-style: solid;
    margin: 2em 1em 1em 0;
    border-bottom: 0.2em solid white;
	}

fieldset {
	border: 1px dotted #777;
	padding: 1em 1em .5em 1em;
	margin: 0 0 2.5em 0;
	}

fieldset p {
	margin-bottom: 0;
	padding-bottom: 1em;
	}

legend {
	color: #aaa;
	background-color: inherit;
	font-weight: normal;
	font-size: .91em;
	letter-spacing: .2em;
	text-transform: uppercase;
	}

dt {
	font-family: Verdana, "Bitstream Vera Sans", sans-serif;
	font-size: 1em;
	text-align: left;
	font-weight: normal;
	margin: 0 0 .4em 0;
	letter-spacing: normal;
	text-transform: none;
	}
dd {
	margin: auto auto 2.5em 2em;
	}

dd p {
	margin: 0 0 1em 0;
	}

 
/*::selection {
	background-color: #EEEEEE;
	color: #221F20;
}*/
 

input, select  {
	font-size: 1em;
	}
input[type="text"], input[type="password"]   { background-color: #ddd; }
/*
input[type="submit"] { background-color: #ccc;  border-width: 1px; }
*/
select { background-color: #ddd; }

audio {
	height: 3em;
	width:  100%;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
	audio {
		height: 150px;
	}
}

@media (prefers-color-scheme: light) {
	body {
		/*
		body{
			margin:40px auto;
			max-width:650px;
			line-height:1.6;
			font-size:18px;
			color:#444;
			padding:0 10px
			}
		h1,h2,h3{
			line-height:1.2
			}
		*/
		background-color: #EEEEEE;
		color: #221F20;
		}

	blockquote {
		border-left: 1.5px solid #00923F;
		border-right: 0px solid #777;
	    outline: 0;
	    vertical-align: baseline;
	    background: transparent;
	    /*background-color: #484B56;*/
		}
		
	aside {
    background-color: #DFDDDD;
    box-shadow: 0px 0px 30px 0px #DFDDDD;
	}


	.Record {
		font-weight: bold;
		margin: 0em 0px 0em 0px;
		color: black;
		}

	code{
	  background-color: #969594;
	  border-radius: 3px; 
	}
	/* 
	blockquote strong {
		font-weight: bold;
		font-size: 1em;
		letter-spacing: normal;
		text-transform: none;
		}
	 */


	a:link {
		color: #0082C9;
		border-color: #0082C9;

		background-color: inherit;
		}

	a:visited {
		color: #0082C9; /*#A21A68;*/
		border-color: #A21A68;
		
		background-color: inherit;
		}

	a:hover {
		color: white;
		background-color: #0082C9;
		border-color: #0082C9;
		}

	a:visited:hover {
		color: white;
		background-color: #A21A68;
		border-color: #A21A68;
	}

	table td + td { border-left:1px solid #0082C9; empty-cells: hide;}
	table th + th { border-left:1px solid #0082C9; }
	th { border-bottom:1px solid #0082C9; }

	h1 {
		background-color: #0082C9;
		border-left: 0.3em solid; border-color: #005AAB;
		color: white;
		}

	h2 {
		border-color: #F8C300;
		}

		h2 a:link {
		color: #F0E68C;
	}

	pre {
		color: #eee;
		background-color: inherit;
		border-color: #6b6b6b;
		border-style: dashed;
		}


	hr {
	    border-color: #969594;
	    border-width: 0;
	    text-align: center;
	    border-style: dotted;
	    border-bottom: 1px dotted #969594;
		}

	fieldset {
		border: 1px dotted #777;
		}

	 
	::selection {
		background-color: #005AAB;
		color: white;
	}


	
	input[type="text"], input[type="password"]   { background-color: #ddd; }
	/*
	input[type="submit"] { background-color: #ccc;  border-width: 1px; }
	*/
	select { background-color: #ddd; }

	}
}