@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

/* 1.65em is minimum line height, it seems (§a)
	p uses 1.8
	li uses 1.7
*/

object{
	width: 100%;
}

object.chart{
	width: 100%;
	height: 13em;
}

/* Getting things set up. Go from least to most specific. */

body { /*The body provides something for everything to hang off of. A "last-ditch style".*/
	/*-webkit-text-size-adjust: none;*/ /*Disable automatic scaling on iOS devices*/
	margin-top: 0px;
	font-family: Geneva, "Segoe UI", Verdana, "Helvetica Neue", "Franklin Gothic Book", "Bitstream Vera Sans", sans-serif;
	max-width: 1024px;
	background-color: #221F20;
	color: #EEEEEE;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
/* 	line-height: 1.8em; */
}
	
/* margin: top right bottom left; */
p { /*This is like the body, but more specific.*/
 	margin: 0 0 1.6em 1em;
	max-width: 750px;
	line-height: 1.8em;
	text-align: left;
}

aside {
	/*font-family: "IBM Plex Sans", "Proxima Nova", "Avenir Next", Avenir, Geneva, Tahoma, Verdana, sans-serif;*/
	font-size: 0.9em;
	margin: 2em 2em 2em 1em;
	padding: 0 .75em 0 1.25em;
	outline: 0;
	vertical-align: middle;
	border-radius: 12px;
	line-height: 1.7em;
	max-width: 650px;

    background-color: #001221;
    box-shadow: 0px 0px 30px 0px #001221;
    color: #979FA8;
}
	
blockquote {
	font-size: 0.95em;
	margin: 2em 2em 2em 1em;
	font-family: "IBM Plex Sans", "Proxima Nova", "Avenir Next", Avenir, Geneva, Tahoma, Verdana, sans-serif;
	
	border-left: 3px solid #8BCA98;
	color: #EEEEEE;

	background: rgb(150,149,148);
	background: linear-gradient(70deg, rgba(150,149,148,0.5) 0%, rgba(150,149,148,0.3) 50%, rgba(150,149,148,0.5) 100%);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .15);
}

blockquote.black {background: #221F20; box-shadow: none;}

pre {
	color: inherit;
	background-color: inherit;
	border-color: #6b6b6b;
	border-style: dashed;
}
		
code{
	margin: 0 2px;
	padding: 0 5px;
	white-space: nowrap;
	background-color: #4a525a;
	border-radius: 3px; 
	
	font-family: "Fira Code", Monaco, "Lucida Console", "JetBrains Mono", Courier, monospace;
	font-size: 1em; /* 1.09em for Courier */
	color: white;
}
 
code::selection {
		background-color: #33cc99;
		color: white;
}

pre::selection {
		background-color: #33cc99;
		color: white;
}


a {
	text-decoration: none;
	line-height: 1.65em;
}

a:link {
	text-decoration: none;
	color: #40AFD0;
	border-color: #0082C9;
	border-width: 1px;
	border-style: none none solid none;
	padding: 3px 0px 2px 0px;
}

a:visited {
	color: #40AFD0; /*#A21A68;*/
	border-color: #A21A68;
	border-width: 0 0 1px 0;
	border-style: none none solid none;
	padding: 3px 0px 2px 0px;
}

a:hover {
	color: white;
	text-decoration: none;
	background-color: #0082C9;
	border-color: #0082C9;
}

a:visited:hover {
	color: white;
	background-color: #A21A68;
	border-color: #A21A68;
}
a em {
	padding-bottom: 2px; /* Hack for WebKit; otherwise the underscore padding is 0 */
	}

sup {
	line-height: 0px;
}

.footer, .footnotes {
	width: 90%;
	font-size: 0.8em;
	margin: 0 5% 25px 5%;
	font-family: "Helvetica Neue", "Segoe UI", Helvetica, Geneva, Tahoma, ui-sans-serif, "Bitstream Vera Sans", sans-serif;
}

/* TABLES */
table {border-collapse: collapse;}
td {padding: 0.5em;}

thead, th {
	font-weight: bold;
	font-family: "IBM Plex Sans", "Proxima Nova", "Avenir Next", Avenir, Geneva, Tahoma, Verdana, sans-serif;
	font-size: 1.1em;
	background-color: #0082C9;
	color: white;
}

th::selection {
	background-color: white;
	color: #0082C9;
}

tr {
	font-family: 
	/*"IBM Plex Sans", "Proxima Nova", "Avenir Next", Avenir, */
	Geneva, 
	/*Helvetica, */
	Tahoma, Verdana, "Bitstream Vera Sans", sans-serif;
	font-weight: lighter;
	font-size: 0.8em;
}

table td + td { 
	border-left:1px solid #0082C9; 
	empty-cells: hide;
	}

.ri{text-align: right;}

.hidden td, th {
	border: 0px;
	text-transform: none;
	font-size: 1.25em;
	font-weight: normal;
	font-family: Geneva, Verdana, "Bitstream Vera Sans", sans-serif;
	padding: 0em;
}

/* HEADINGS */
h1 {
	font-family: "IBM Plex Sans", "Proxima Nova","Avenir Next", Avenir, Tahoma, Verdana, sans-serif;
	font-size: 2em; /* was 1.46em for Georgia */
	line-height: 1.5em;
	text-align: left;
	font-weight: bold;
	margin: 0em 0px 0.25em 0px;
	background-color: #0082C9;
	border-left: 0.3em solid; 
	border-color: #005AAB;
	color: white;
}
h1::selection {
	background-color: #005AAB;
}
/* Important link overriding so links are visible against the blue background */
h1 a:link {
		color: #F0E68C;
}
h1 a:visited {
		color: #552200;
}

h1 a:hover {
	color: white;
	text-decoration: none;
	background-color: #0082C9;
	border-color: #0082C9;
}

h1 a:visited:hover {
	color: white;
	background-color: #A21A68;
	border-color: #A21A68;
}

h2 {
	font-family: "IBM Plex Sans", "Proxima Nova", "Avenir Next", Avenir, Geneva, Tahoma, Verdana, sans-serif;
	font-size: 1.5em;
	line-height: 1.5em;
	text-align: left;
	font-weight: normal;
	text-transform: uppercase; letter-spacing: .1em;
	margin: 0em 0px 0.25em 0px;
	border-top: 0.2em solid; 
	border-color: #F8C300;
}

h2.streetcar {
	border-color: #D8232A;
}

h1 + h2 {
	margin-top: 2em;
}

h3 {
	font-family: "IBM Plex Sans", "Proxima Nova", "Avenir Next", Avenir, Geneva, Tahoma, Verdana, sans-serif;
	font-size: 1.1em;
	text-align: left;
	font-weight: normal;
 	line-height: 1.75em;
	letter-spacing: 0.2em;
	margin: 1.5em 0 0.2em 0em;
	padding-left: 0.25em;
	text-transform: uppercase;
	border-top: 0.2em solid;
	border-color: #00923F;
}

p + h3 {
	margin-top: 4em;
}
pre + h3 {
	margin-top: 4em;
}

h6 + h2 {
	margin-top: 2em;
}


h4 {
	font-family: "IBM Plex Sans", "Proxima Nova", "Avenir Next", Avenir, Geneva, Tahoma, Verdana, sans-serif;
	font-size: 1.1em;
	text-align: left;
	font-weight: bold;
	line-height: 1.8em;
	margin: 2em 0 0 0;
	padding-left: 0.5em;
	border-left: 0.3em solid; 
	border-color: #0082C9;
}

h5 {
	font-family: "IBM Plex Sans", "Proxima Nova", "Avenir Next", Avenir, Geneva, Tahoma, Verdana, sans-serif;
	font-size: 1em;
	text-align: left;
	font-weight: bold;
	font-style: italic;
	line-height: 1.8em;
	margin: 2em 0 0 0;
	padding-left: 0.75em;
	border-top: 1px solid;
	border-color: #A21A68;
	position: relative;
}
h5:after {
	content: "";
	width:50%;
  	height:1.1px;/* slight higher to work around rounding errors(?) on some zoom levels in some browsers. */
  	background-color: #221F20;
  	position: absolute;
  	right: 0;
  	top: -1px;
}

h6 {
	font-family: "IBM Plex Sans", Tahoma, Verdana, "Bitstream Vera Sans", sans-serif;
	font-size: 0.9em;
	font-weight: normal;
	text-align: left;
	line-height: 1.8em;
	margin: 2em 0 0 0.2em;
	text-transform: uppercase;
	color: #E77817;
}

img { /*I don't think I can touch this because I've used it so much*/
	margin-top: 5px;
	max-width: 100%;
/* 
	margin: 2em 0px 0px 0em;
 */
	text-indent: 2em;
}

img.n { /* New Image */
	margin-top: 5px;
	max-width: 400px;
	text-indent: 2em;
	vertical-align: middle; 
	text-align: center;
}
	
.hidden img {
	max-width: 100%;
	margin: 5px 0px 0px 0em;
	text-indent: 2em;
}
	
img.hidden  {
	max-width: 100%;
	margin: 5px 0px 0px 0em;
	text-indent: 2em;
}

/* Future image */
img.f {
	max-width: 90%;
	padding: 0em 0.2em 0.4em 0.2em;
}

/* LIST FITTING */
ul, ol {
	padding-left: 1.25em;
	margin: 0 0 0em 1em;
}
ul>ol { /*Select any ordered lists within unordered lists*/
	margin-top: -1em;
}

ul>ul { /*Select any unordered lists within unordered lists*/
	margin-bottom: -0.01em;
}

ul + ol {
	padding-top: 1em; /*Keep lists from bullets */
}

/* BULLET POINTS */
ul {
	list-style-type: disc;
	margin: 0 0.25em 1em 1em;
	max-width: 500px;
}
p + ul { /*Make bulleted lists fit closer to previous paragraph*/
	margin-top: -1em;
}

ul ul {
	list-style-type: square;
	margin: 0 0.25em 0em 1em;
}
ul ul ul {
	list-style-type: circle;
}

li {
	line-height: 1.7em;
}

/* HORIZONTAL RULE */
hr {
    border-color: white;
	    border-width: 0;
	    text-align: center;
	    border-style: solid;
    margin: 1em 0em 1em 0em;
    border-bottom: 0.125em solid white; 
    /*border-bottom: 1px dashed #969594;*/
}

pre {
	font-family: "JetBrains Mono", "Fira Code", Monaco, Courier, monospace;
	line-height: 1.45em;
	color: inherit;
	background-color: inherit;
	margin: 2em 0 2.5em 0;
	padding: 5px 0 5px 10px;
	border-width: 1px 0 1px 0;
	border-color: #6b6b6b;
	border-style: dashed;
}

/* BOX */
fieldset {
	border: 1px solid #969594;
	padding: 0.5em 1em .5em 1em;
	margin: 0 0 2.5em 0;
	border-radius: 4px;
}
fieldset p {
	margin-bottom: 0;
	padding-bottom: 0.5em;
	font-size: 0.9em;
}
legend {
	font-family: "IBM Plex Sans", "Proxima Nova", "Avenir Next", Avenir, Geneva, Tahoma, Verdana, sans-serif;
	color: white;
	background-color: inherit;
	/*font-weight: bold;*/
	font-size: .91em;
	letter-spacing: .2em;
    text-transform: uppercase;
	margin-left: 1.25em;
	padding-left: 0.25em;
}

/* Dictionary */
dt {
	font-family: Tahoma, Verdana, "Bitstream Vera Sans", sans-serif;
	font-size: 1em;
	text-align: left;
	font-weight: bold;
	margin: 0 0 .4em 0.5em;
	letter-spacing: normal;
	text-transform: none;
}
dd {
	margin: auto auto 2.5em 2em;
	list-style-type: disc;
	font-family: ui-serif, Charter, Georgia, serif;
	font-size: 0.9em;
}

dd p {
	margin: 0 0 1em 0;
	font-family: ui-serif, Charter, Georgia, serif;
	font-size: 1em;
}

/* emph */
strong {
	font-weight: normal;
	font-size: .91em;
	letter-spacing: .1em;
	text-transform: uppercase;
}
strong strong {
	font-weight: bolder;
	font-size: 1.05em;
	font-family: Tahoma, Verdana, sans-serif;
}

em em {
	font-style: normal;
	font-size: .98em;
}


/* CUSTOM STYLES */

a + h1{
	margin-top: 1em;
}
a + h2{
	margin-top: 1em;
}

.hidden li {
	list-style-type: none;
	padding-left: 24px;
}

.nested li {
	list-style-type: none;
	padding-left: 15px;
}
 
.top{ /*For when we want no border*/
	border-color: transparent;
}

.Record {
	font-family: "IBM Plex Sans", "Proxima Nova", "Avenir Next", Avenir, Geneva, Tahoma, Verdana, sans-serif;
	font-size: 4em; /*4em redundancy for clueless browsers*/
	font-size: 6.25vmin; /*This will scale the size based on height or (on 
					portrait devices) width. This means it should fit on 
					phones and look OK on desktops.*/
	line-height: 1.5em;
	text-align: left;
	font-weight: bold;
	margin: 0em 0px 0em 0px;
	color: black;
	max-width: 1080px !important;
}

.Title {
	font-family: "IBM Plex Sans", "Proxima Nova", "Avenir Next", Avenir, Geneva, Tahoma, Verdana, sans-serif;
}

.error{
	font-size: 2em;
	color: #ee3124;
	text-shadow: 0px 0px 15px #98002e;
}

.error-txt{
	color: #ee3124;
/* 	text-shadow: 0px 0px 5px #98002e; */
}

aside.err{
/* Use same as aside */
}
.imgsvg {
	background-color: #EEEEEE;
}
input, select  {
	font-size: 0.95em;
}

audio {
	height: 3em;
	width:  100%;
}


/* LIGHT MODE... .......................................................................... */
/* IN LIGHT MODE... */
@media (prefers-color-scheme: light) {
	body {
		background-color: #EEEEEE;
		color: #221F20;
	}
	
	aside {
		background-color: #979FA8;
    	box-shadow: 0px 0px 30px 0px #979FA8;
    	color: #001221;
	}
	
	blockquote {		
		border-left: 2px solid #6E2A8E;
		color: #001924;
		
		background: rgb(150,149,148);
		background: linear-gradient(90deg, rgba(150,149,148,0.5) 0%, rgba(150,149,148,0.3) 100%);
    	box-shadow: 0px 0px 15px rgba(0, 0, 0, .15);
	}
	blockquote.black {background: #EEEEEE;}


	a:link {
		color: #0082C9;
		border-color: #0082C9;
		background-color: inherit;
	}
	a:visited {
		color: #552200;
		border-color: #A21A68;
		background-color: inherit;
	}
	a:hover {
		color: white;
		background-color: #0082C9;
		border-color: #0082C9;
	}
	a:visited:hover {
		color: white;
		background-color: #A21A68;
		border-color: #A21A68;
	}

	table td + td { border-left:1px solid #0082C9; empty-cells: hide;}
	td {padding: 0.5em;}
	table th + th { border-left:1px solid #0082C9; }
	th { border-bottom:1px solid #0082C9; }

	h5:after {
  	background-color: #EEEEEE;
	}


	hr {
	    border-color: white;
	    border-width: 0;
	    text-align: center;
	    border-style: solid;
    	border-bottom: 1px dashed #969594;
	}

	fieldset {
		background-color: #E3E3E3;
    		box-shadow: inset 1px 1px 1px -1px #D3D3D3;
    		color: #303235;
    		border: none;
	}

	legend {
		color: #003768;
		background-color: transparent;
		background: rgb(227,227,227);
		background: linear-gradient(0deg, rgba(227,227,227,1) 0%, rgba(227,227,227,1) 41%, rgba(238,238,238,1) 100%);
		font-weight: bold;
		font-size: .91em;
		letter-spacing: .2em;
		text-transform: uppercase;
	}

	.imgsvg {
		background-color: transparent;
	}
	
	.error{
		color: firebrick;
		text-shadow: 0px 0px 250px #ee3124;
	}
}

/* https://stackoverflow.com/questions/14984643/css-pick-a-random-color-from-array */
