@font-face {
   font-family: 'IBMPlexSans-Bold', 'Gill Sans', 'Gill Sans MT', sans-serif;
   src: url('IBMPlexSans-Bold/font.ttf');
}
@font-face {
   font-family: 'Verdana', 'Tahoma', 'Bitstream Vera Sans', sans-serif;
   src: url('Verdana/font.ttf');
}

@font-face {
   font-family: 'IBM Plex Sans', 'Gill Sans', 'Gill Sans MT', sans-serif;
   src: url('IBMPlexSans/IBMPlexSans-Regular.ttf');
}
@font-face {
   font-family: 'IBM Plex Sans', 'Gill Sans', 'Gill Sans MT', sans-serif;
   font-weight: lighter;
   src: url('IBMPlexSans/IBMPlexSans-Light.ttf');
}
@font-face {
   font-family: 'IBM Plex Sans', 'Gill Sans', 'Gill Sans MT', sans-serif;
   font-weight: bold;
   src: url('IBMPlexSans/IBMPlexSans-Bold.ttf');
}
@font-face {
   font-family: 'IBM Plex Sans Light', 'Gill Sans', 'Gill Sans MT', sans-serif;
   src: url('IBMPlexSans/IBMPlexSans-Light.ttf');
}